body {
  background-color: #000;
  color: #fff;
}

a {
  border-bottom: 1px solid red;
  color: red;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: .9;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.content {
  margin: 0 auto 3em;
  text-align: center;
  width: 100%;
}

.heading {
  font-family: $heading-font-family;
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
}

.main-cta {
  font-family: $vg-font-family;
  font-size: 2em;
}

header {
  padding: .5em;
}

footer {
  font-family: $link-font-family;
  text-align: center;
}

.tagline {
  font-family: $heading-font-family;
  font-size: 1.5em;
  font-style: italic;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-transform: uppercase;

  &__left {
    display: block;
    text-align: left;
  }

  &__right {
    display: block;
    text-align: right;
  }
}

.video-container {
  height: 240px;
  margin: 0 auto;
  width: 300px;
  position: relative;
  text-align: center;
}

.video {

}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}

.video-play-button {
  border: 0;
  color: #fff;
  display: block;
  font-family: $vg-font-family;
  font-size: .8em;
  position: absolute;
  left: 50px;
  top: 90px;
  z-index: 9;
}

.img {
  width: 100%;
}

.sr-only {
  position: absolute;
  right: 100000000px;
}

.play-button {
  border: 0;
  color: #fff;
  display: block;
  font-family: $vg-font-family;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  width: 100%;
}
