body {
  background-color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.content-primary {
  background: url(/images/crucialBros8Bit-web.png) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100vh;
  text-align: center;
}

.img {
  width: 400px;
}
