@font-face {
	font-family: 'Alien Encounters Italic';
	src: url('http://pocketbird.github.io/crucialbros/fonts/AlienEncountersItalic.eot');
	src: url('http://pocketbird.github.io/crucialbros/fonts/AlienEncountersItalic.eot?#iefix') format('embedded-opentype'),
		url('http://pocketbird.github.io/crucialbros/fonts/AlienEncountersItalic.woff2') format('woff2'),
		url('http://pocketbird.github.io/crucialbros/fonts/AlienEncountersItalic.woff') format('woff'),
		url('http://pocketbird.github.io/crucialbros/fonts/AlienEncountersItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Pretendo';
	src: url('http://pocketbird.github.io/crucialbros/fonts/Pretendo.eot');
	src: url('http://pocketbird.github.io/crucialbros/fonts/Pretendo.eot?#iefix') format('embedded-opentype'),
		url('http://pocketbird.github.io/crucialbros/fonts/Pretendo.woff2') format('woff2'),
		url('http://pocketbird.github.io/crucialbros/fonts/Pretendo.woff') format('woff'),
		url('http://pocketbird.github.io/crucialbros/fonts/Pretendo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Press Start 2P';
	src: url('http://pocketbird.github.io/crucialbros/fonts/PressStart2P.eot');
	src: url('http://pocketbird.github.io/crucialbros/fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
		url('http://pocketbird.github.io/crucialbros/fonts/PressStart2P.woff2') format('woff2'),
		url('http://pocketbird.github.io/crucialbros/fonts/PressStart2P.woff') format('woff'),
		url('http://pocketbird.github.io/crucialbros/fonts/PressStart2P.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
